# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.mypy_cache/
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
doctest_report.txt
.project
.dmypy.json
celerybeat-schedule
*.egg-info/
.ipynb_checkpoints

# VSCode
.vscode/

# Large data files (do NOT upload these to Git, they should be managed separately or downloaded)
data/genres.txt
data/numberbatch-en.txt
data/numberbatch.bin
data/numberbatch.bin.vectors.npy
data/spotify_dataset_cleaned.parquet
data/spotify_dataset.csv

# Any other local temporary files
*.tmp